benchmarks/data/*
benchmarks/results.csv
benchmarks/visuals/
benchmarks/scratch_*/

# Build artifacts
/build/
/mar
/mar-rust
/test_mar
/test_nar
/dist/
*.so
*.a
*.o
.perf/
compile_commands.json
LINT_REPORT.json

# Rust build artifacts
target/
**/target/
Cargo.lock

# Python build artifacts
*.egg-info/
.pytest_cache/

# Test data & scratch directories
extract_*/
test_sample_data/
test_data/
casp15/
okf/okf/
okf/how-the-open-knowledge-format-can-improve-data-sharing

# Specifically include include/mar
!include/mar/

# Archives
*.mar
*.mai
**/*.mai
**/*.mar
*.tar
*.tgz
*.json
**__pycache__**


**/*.DS_Store

# LLM Status Archive
/llm_status_archive/

deps/BLAKE3/c/CMakeCache.txt
deps/BLAKE3/c/CMakeFiles/
deps/BLAKE3/c/CTestTestfile.cmake
deps/BLAKE3/c/DartConfiguration.tcl
deps/BLAKE3/c/Makefile
deps/BLAKE3/c/blake3-config-version.cmake
deps/BLAKE3/c/blake3-config.cmake
deps/BLAKE3/c/cmake_install.cmake
deps/BLAKE3/c/dependencies/CMakeFiles/
deps/BLAKE3/c/dependencies/CTestTestfile.cmake
deps/BLAKE3/c/dependencies/Makefile
deps/BLAKE3/c/dependencies/cmake_install.cmake
deps/BLAKE3/c/libblake3.pc
